# 0. Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

import os, sys, shutil, importlib, glob
from tqdm import tqdm_notebook as tqdm

%config InlineBackend.figure_format = 'retina'

plt.rcParams['figure.figsize'] = [6, 4.5]
plt.rcParams["savefig.dpi"] = 300

In [2]:
# Import celloracle function
from celloracle import motif_analysis as ma

# 1. Load bed file
Import ATAC-seq bed file.
This script can also be used with DNase-seq or Chip-seq data.

In [3]:
file_path_of_bed_file = "data/all_peaks.bed"

In [4]:
# Load bed_file
bed = ma.read_bed(file_path_of_bed_file)
print(bed.shape)
bed.head()

(436206, 4)

  chrom    start      end               seqname
0  chr1  3002478  3002968  chr1_3002478_3002968
1  chr1  3084739  3085712  chr1_3084739_3085712
2  chr1  3103576  3104022  chr1_3103576_3104022
3  chr1  3106871  3107210  chr1_3106871_3107210
4  chr1  3108932  3109158  chr1_3108932_3109158

In [6]:
# Convert bed file into peak name list
peaks = ma.process_bed_file.df_to_list_peakstr(bed)
peaks

array(['chr1_3002478_3002968', 'chr1_3084739_3085712',
       'chr1_3103576_3104022', ..., 'chrY_631222_631480',
       'chrY_795887_796426', 'chrY_2397419_2397628'], dtype=object)

# 2. Make TSS annotation
IMPORTANT: Please make sure that you are setting the correct ref genome!

In [7]:
tss_annotated = ma.get_tss_info(peak_str_list=peaks, ref_genome="mm9")

# Check results
tss_annotated.tail()

que bed peaks: 436206
tss peaks in que: 24822

         chr     start       end gene_short_name strand
24817   chr2  60560211  60561602           Itgb6      -
24818  chr15   3975177   3978654        BC037032      -
24819  chr14  67690701  67692101         Ppp2r2a      -
24820  chr17  48455247  48455773   B430306N03Rik      +
24821  chr10  59861192  59861608         Gm17455      +

In [9]:
# Change format
peak_id_tss = ma.process_bed_file.df_to_list_peakstr(tss_annotated)
tss_annotated = pd.DataFrame({"peak_id": peak_id_tss,
                              "gene_short_name": tss_annotated.gene_short_name.values})
tss_annotated = tss_annotated.reset_index(drop=True)
print(tss_annotated.shape)
tss_annotated.head()

(24822, 2)

                   peak_id gene_short_name
0   chr7_50691730_50692032            Nkg7
1   chr7_50692077_50692785            Nkg7
2  chr13_93564413_93564836           Thbs4
3  chr13_14613429_14615645           Hecw1
4   chr3_99688753_99689665          Spag17

# 3. Save data

In [10]:
tss_annotated.to_parquet("peak_file.parquet")

-> go to next notebook